// Prettify type rendering
body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Courier, Consolas, "Liberation Mono", monospace;
	font-size: rem-calc(12);
}
inner-wrap {
	min-height: 100vh;
	height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Courier, Consolas, "Liberation Mono", monospace;
}
p {
	font-size: rem-calc(12);
}
a {
	color: $black;
}
a:hover {
	color: $black;
	text-decoration: underline;
}
a:visited, a:focus {
	outline: none;
}
::-webkit-input-placeholder {
    color: $black !important;
	opacity: 1 !important;
}

:-moz-placeholder { /* Firefox 18- */
    color: $black !important;
	opacity: 1 !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $black !important;
	opacity: 1 !important;  
}

:-ms-input-placeholder {  
   color: $black !important;
	opacity: 1 !important;  
}

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// No pad
.no-pad-right {
	padding-right: 0;
}
.no-pad-left {
	padding-left: 0;
}
@media #{$medium-only} {
	.medium-right {
		float: right !important;
	}
}
@media #{$small-only} {
	.small-right {
		float: right !important;
	}	
}


// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: #6f6f6f;
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}

// Custom

#text-2, #text-3 {
	float: right;
	text-align: right;
}
.logo {
	
	img {
		width: 100%;
		max-width: rem-calc(150);
		height: auto;
	}
}
@media #{$large-up} {
	.top-top-bar {
		margin-top: rem-calc(50);
		margin-bottom: rem-calc(16);
	}
}
@media #{$medium-only} {
	.top-top-bar {
		margin-top: rem-calc(8);
		margin-bottom: rem-calc(16);
		position: absolute;
		top: 0;
		width: 50%;
	}
}
@media #{$small-only} {
	.top-top-bar {
		margin-top: rem-calc(8);
		position: absolute;
		top: 0;
		width: 50%;
	}	
}

// About
.about-image {
	img {
		width: 100%;
		height: auto;
		margin-bottom: rem-calc(16);
	}
}
// Work & Director
.excerpt {
	height: auto;
	//position: relative;
	margin-bottom: rem-calc(16);
	img {
		width: 100%;
		height: auto;
		margin-bottom: rem-calc(16);
	}
	.thumb {
		position: relative;
		display: block;
	}
	.thumb::before {
		content: "";
		background-image: url(/13/wp-content/themes/thirteen/assets/images/icons/play.png);
		background-size: 80px 80px;
		position: absolute;
		top: 50%;
		margin-top: -48px;
		left: 50%;
		margin-left: -40px;
		z-index: 99;
		width: 80px;
		height: 80px;
			img {
				width: 100%;
				height: auto;
			}
	}
	.file-under {
		position: relative;
		bottom: rem-calc(-16); 
			a:hover {
				text-decoration: underline;
			}
	}
	.more-info {
		a:hover {
				text-decoration: underline;
			}
	}
	.director {
		position: relative;
		top: rem-calc(-20); 
		margin-bottom: rem-calc(-8);
		display: block;
	}
}
.hr-blk {
	background: $black;
	height: 1px;
	width: auto;
	display: block;
	//margin-bottom: rem-calc(24);
}
.orbit-container {
	margin-bottom: rem-calc(32);
}
.orbit-timer {
	display: none !important;
}
.page-template-reel {
	.excerpt {
		.more-info {
			position: relative;
			top: -1.25rem;
			display: block;
			a:hover {
					text-decoration: underline;
				}
		}
		.director {
			position: relative;
			top: rem-calc(-20); 
			margin-bottom: rem-calc(-8);
			display: block;
			//width: 80%;
		}
	}
	.entry-content {
		font-size: rem-calc(12);
		line-height: 1.8;
		border-bottom: 1px solid $black;
		padding-bottom: rem-calc(24);
			h1 {
				font-size: rem-calc(12);
				margin-top: rem-calc(6);
				margin-bottom: rem-calc(0);
			}
			.client {
				margin-top: rem-calc(10);
				display: block;
			}
	}
	h1 {
		font-size: rem-calc(12);
		text-decoration: underline;
		margin-top: rem-calc(12);
	}
}

// Spot
.page-template-default {
	
	.entry-content {
		font-size: rem-calc(12);
		line-height: 1.8;
		border-bottom: 1px solid $black;
		padding-bottom: rem-calc(24);
			h1 {
				font-size: rem-calc(12);
				margin-top: rem-calc(6);
				margin-bottom: rem-calc(0);
			}
			.client {
				margin-top: rem-calc(10);
				display: block;
			}
	}
	
	.yarpp-related {
		margin: 0;
			a {
				font-weight: normal;
			}
	}
	
}


// Director
.page-template-director {
	h1 {
		font-size: rem-calc(12);
		text-decoration: underline;
		margin-top: rem-calc(12);
	}
	.director-bio {
		margin-top: rem-calc(24);
	}
}

// Video
.player {
	margin-bottom: rem-calc(12);
}
#play-button {
	position: absolute;
	top: 50%;
	left: 50%;
}
#pause-button {
	
}

// News
.category-news {
	h2 {
		font-size: rem-calc(12);
		margin-top: rem-calc(8);
		margin-bottom: rem-calc(8);
	}
	p {
		margin-bottom: rem-calc(8) !important;
	}
	.hr-blk {
		background: $black;
		height: 1px;
		width: auto;
		display: block;
		margin-top: rem-calc(12);
		margin-bottom: rem-calc(24);
	}
}

// News Post
.single-post {
	h1 {
		font-size: rem-calc(12);
		margin-top: rem-calc(8);
		margin-bottom: rem-calc(8);
	}
	header, p, footer {
		width: 50%;
	}
}

// Menu
.tab-bar {
	background: $white;
	color: $black;
}
.right-off-canvas-menu {
	background: $white;
	color: $black;
}
.off-canvas-list {
	color: $black;
}
ul.off-canvas-list li a {
	color: $black;
	&:hover {
		background: $white;
	}
}
a.menu-icon span {
    box-shadow: 0 10px 0 1px $black, 0 16px 0 1px $black, 0 22px 0 1px $black;
    display: block;
    height: 0;
    left: 0.72222rem;
    position: absolute;
    top: 0.27778rem;
    width: 0.88889rem;
}

// Pagination
ul.pagination {
	clear: both;
	text-align: left;
	margin-left: 0;
	color: $black;
}
ul.pagination li, ul.pagination li a, ul.pagination li a:hover, ul.pagination li button, ul.pagination li.current a, ul.pagination li.current button, ul.pagination li.current a:hover, ul.pagination li.current a:focus, ul.pagination li.current button:hover, ul.pagination li.current button:focus {
	background: $white;
	color: $black;
	font-weight: normal;
}

// Newsletter
#mce-EMAIL {
	border-color: $black;
	
}
#mc-embedded-subscribe {
	background: $white;
	color: $black;
	border: 1px solid $black;
	font-family: Courier, Consolas, "Liberation Mono", monospace;
	font-size: rem-calc(12);	
}
#mc-embedded-subscribe > button, .button {
			padding: rem-calc(12) 1rem rem-calc(11);
		}


// Related 
.yarpp-related-none {
		display: none !important;
	}
	
// Password 
.password {
	label {
		color: $black;
		font-size: rem-calc(12);
		font-weight: normal;
		margin-top: rem-calc(8);
	}
	input[type=submit] {
		background: $white;
		color: $black;
		height: 2.3125rem;
		border: 1px solid $black;
	}
	input[type=password] {
		width: 25%;
	}
}
	