.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(16);

	@media only screen and (max-width: ($topbar-breakpoint)) {
		.top-bar-left {
			li.name {
				padding-left: rem-calc(50);
			}

			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				left: 0;
			}

		}

		.top-bar-right {
			li.toggle-topbar a, li.menu-icon {
				position: absolute;
				right: 0;
			}
		}
	}
}

@media #{$medium-only} {
	.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(16);
	}	
}

@media #{$large-up} {
	.top-bar-container, .tab-bar {
	margin-bottom: rem-calc(4);
	}	
}

.left-small {
	border-right: 0;
}

.right-small {
	border-left: 0;
}

.top-bar .name {
	h1 a { font-weight: 500; }
}

// Switch between the mobile menu (tab-bar) and desktop menu (topbar) based on a custom $topbar-breakpoint value.
// The $topbar-breakpoint can be edited in _custom-settings.scss.

@media only screen and (min-width: ($topbar-breakpoint + em-calc(1))) {
  .tab-bar { display: none; }
}

// Hide the topbar when the screen size is smaller than the topbar breakpoint
@media only screen and (max-width: $topbar-breakpoint) {
  body.offcanvas .top-bar { display: none; }
}

.top-bar-section ul li > a {
	font-size: rem-calc(12);
}

.contain-to-grid, .top-bar, .top-bar-section li:not(.has-form) a:not(.button) {
	background: $white;
	color: $black;
	font-family: Courier, Consolas, "Liberation Mono", monospace;
	text-transform: uppercase;
	font-weight: 500;
	line-height: rem-calc(24);
}
.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 rem-calc(40) 0 0;
}
.top-bar-section li.active:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:hover:not(.button), .top-bar-section li.current-menu-parent:not(.has-form) a:not(.button), .top-bar-section li.current-page-ancestor:not(.has-form) a:not(.button) {
	background: $white;
	color: $black;
	text-decoration: underline;
	line-height: rem-calc(24);
	padding: 0 rem-calc(40) 0 0;
}

.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: $white;
	color: $black;
	text-decoration: underline;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	border: 0;
}

#menu-main, #menu-main-1 {
	text-align: left;
	
}
@media #{$small-only} {
	#menu-main, #menu-main-1 {
	border-bottom: 1px solid $black;
	}	
}
@media #{$medium-only} {
	#menu-main, #menu-main-1 {
	border-bottom: 1px solid $black;
	}	
}
.directors-menu {
	display: block;
	text-transform: capitalize;
	margin-bottom: rem-calc(24);
	.directors {
		font-size: rem-calc(12);
		margin-top: rem-calc(16);
		border-bottom: 1px solid $black;
		padding-bottom: rem-calc(8);
	}
	.menu {
		margin-top: rem-calc(16);
		border-bottom: 1px solid $black;
		padding-bottom: rem-calc(8);
	}
	.top-bar-section {
		ul {
			display: inline;
			height: auto;
			font-size: rem-calc(12);
			list-style: none;
			position: relative;
		}
		li.menu-item {
			float: left;
			background: $white;
			position: relative;
			margin: 0 rem-calc(3) 0 0;
			&::after {
				content: ", ";
				right: 3px;
				bottom: -1px;
				position: absolute;
			}
		}
		li.menu-item:last-child {
			&::after {
				content: "";
			}
		}
		
		li:not(.has-form) a:not(.button) {
			background: $white;
			color: $black;
			font-family: Courier, Consolas, "Liberation Mono", monospace;
			text-transform: capitalize;
			font-weight: 500;
			line-height: 1.6;
			display: block;
		}		
		li.active:not(.has-form) a:not(.button), li:not(.has-form) a:hover:not(.button), li.current-page-ancestor:not(.has-form) a:not(.button) {
			background: $white;
			color: $black;
			text-decoration: underline;
			line-height: 1.6;
			padding: 0 rem-calc(0) 0 0;
			margin: 0 rem-calc(10) 0 0;
		}
		li:not(.has-form) a:not(.button) {
			padding: 0 rem-calc(0) 0 0;
			margin: 0 rem-calc(10) 0 0;
		}
		.divider {
			height: rem-calc(16);
		}
	}
}
.right-off-canvas-menu {
	min-height: 100vh; 
	height: 100vh;
	ul {
		list-style: none;
		width: 85% !important;
		clear: both;
	}
	.right {
		float: left !important;
	}
	.social {
		margin-left: rem-calc(17);
		//height: auto;
		clear: both;
	}
	.directors {
		margin-bottom: 0;
	}
	#menu-main {
		padding-top: rem-calc(5);
	}
	#menu-main, #menu-main-1, #menu-directors {
		padding-bottom: rem-calc(10);
		margin-bottom: rem-calc(10);
	}
	#menu-directors {
		border-bottom: 1px solid $black;
	}
}